.card-section {
    padding: 30px 50px;
    background-color: rgb(224, 224, 224);
    background-size: cover 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-element {
    display: flex;
    margin: 30px 0;
    &__button {
      display: flex;
      align-items: center;
      gap: 5px;
      border-radius: 20px;
      padding: 9px 10px;
      border: 2px solid white;
      color: grey;
      background: lightgray;
      cursor: pointer;
    }
    &__trash {
      width: 15px;
    }
  }
  .card {
    background: white;
    padding-bottom: 1px;
    min-height: 450px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    .nav-card {
      padding-left: 35px;
      border-left-width: 5px;
      border-left-style: solid;
      margin-top: 20px;
      &__title {
        padding-bottom: 7px;
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: 800;
      }
      &__sub-title {
        font-family: "Montserrat";
        font-size: 18px;
        color: grey;
        font-weight: 500;
      }
    }
    .section-image {
      margin-top: 20px;
      .imagen {
        width: 100%;
        object-fit: contain;
      }
    }
    // .icons {
    //   display: flex;
    //   gap: 10px;
    //   margin: 10px 30px;
    //   .icon {
    //     height: 37px;
    //     width: 37px;
    //     border-radius: 100%;
    //     border-width: 2.5px;
    //     border-style: solid;
    //     padding: 5px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     font-size: 18px;
    //   }
    }
  // }
  
  @media screen and (min-width: 768px) {
    .card-section {
      border-radius: 10px;
    }
    .button-element {
      margin-top: 10px;
    }
  }